* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}


body > div {
    background-color: antiquewhite;
}

body > div:first-child {
    position: relative;
    flex: 2 0 6rem;
    min-width: 20rem;
    background-color: aliceblue;
    background-image: url("./space.jpg");
    background-position: 50% 50%;
    background-size: cover;
    color: white;
}

body > div:last-child {
    --horizontal-padding: 4rem;
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 27vh;
    background-color: rgba(100, 100, 100,0.5);
    padding: 1rem;
    height: 15vh;
    font-size: min(5vh, 1.5rem);
}

.logo-img {
    width: min(10vh, 60px);
}

.bg-caption {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
}

a {
    color: white;
}

a:hover {
    color: hsl(0, 0%, 68%);
}

.form-blurb {
    font-weight: bold;
    margin: 2rem 0;
    font-size: 18px;
    padding: 0px var(--horizontal-padding);
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem var(--horizontal-padding);
    background-color: white;
    gap: 15px;
    margin-bottom: 1.5rem;
}

.form-heading {
    flex-basis: 100%;
    font-size: 18px;
    margin-bottom: 10px;
}

input {
    width: 20vw;
    height: 25px;
    border: 1px solid rgba(128, 128, 128, 0.343);
    border-radius: 3px;
    padding: 4px 5px;
}

input:invalid {
    border: 1px solid rgb(232, 47, 47);
}

input:focus {
    border: none;
    outline: 1px solid rgb(41, 41, 207);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.216);
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-row {
    display: flex;
    gap: 5rem;
}

label {
    font-size: 0.6rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.646);
}

button[type="submit"],
button[type="submit"] + p {
    margin: 0 var(--horizontal-padding) 1.5rem;
}

button[type="submit"] {
    padding: 10px 40px;
    align-self: flex-start;
    background-color: rgb(39, 86, 186);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.341);
}

button[type="submit"]:hover {
    background-color: rgb(33, 68, 146);
}

span.login {
    color: rgb(39, 86, 186);
    font-weight: bold;
    cursor: pointer;
}