* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    padding: 0 10%;
    height: 100vh;
}


body > div {
    background-color: antiquewhite;
}

body > div:first-child {
    position: relative;
    flex: 2 0 6rem;
    background-color: aliceblue;
    background-image: url("./space.jpg");
    background-position: 50% 50%;
    background-size: cover;
    color: white;
}

body > div:last-child {
    flex: 5;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 27vh;
    background-color: rgba(100, 100, 100,0.5);
    padding: 1rem;
    height: 15vh;
    font-size: min(5vh, 1.5rem);
}

.logo-img {
    width: min(10vh, 60px);
}

.bg-caption {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
}
a {
    color: white;
}

a:hover {
    color: hsl(0, 0%, 68%);
}